@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    position: relative;
    color: #fff;
}


.zm_body{
    width: 100%;
    height: 100%;
    font-family: "微软雅黑", "Arial Unicode MS";
}
/*复用*/
.cl_pd {padding: 0;}
.cl_left {padding-left: 0;}
.cl_right {padding-right: 0;}
.container p{color:#666;line-height: 1.8;}
/*title*/
.zm_title {overflow: hidden;position: relative;background-color: #f9f9f9;}
.zm_title h2{display: block;font-weight: 600;color: #f76161;font-size: 16px;line-height: 42px;}
.zm_title h2 span{display: inline-block;border-right: 4px solid #f76161;float: left;padding:11px 0;margin:10px 10px 0 15px;}
.line {height: 1px;background-color:#e2e2e2;display: table;position: relative;width: 87%;margin: 0 auto;}
.line1 {height: 1px;background-color:#f3f3f3;display: inline-block;position: relative;width: 100%;margin: 5px auto 0px;}
.m_mr {line-height: 42px;background-color:#f8f8f8;display: block;width: 95%;margin: 0 auto;color: #666666;}

.zm_body img {
    width: 100%;
}
.zm_body iframe{}

/*top*/
.zm_top {display:block;overflow: hidden;padding: 1rem;background-color: #fff;border-bottom: 1px solid #e2e2e2}
.zm_top h4{font-size: 17px;display: block;padding: 3vmin 0;color:#293747;font-weight: 600;}

/*banner*/
.zm_banner {position:relative;}

/*内导航*/
.zm_inNav {overflow: hidden;position:relative;padding-bottom: 10px;}
.zm_inNav p {margin-top: 12px;}
.zm_inNav .round {border-radius: 50%;background-color: red;height: 17.5vmin;}
.zm_inNav .round i.iconfont{font-size: 10vmin;padding: 1vmin;}

/*热门推荐*/
.zm_hot {overflow: hidden;position: relative;padding-bottom: 15px;}
.zm_hot h5{font-weight: 600;font-size: 16px;line-height:10vmin;color: #666666;}
.zm_hot p{margin-bottom: 5px;color: #666666;}
.yah{color:#f76161!important;}
.yah span{font-size: 5.5vmin;}
.nextIcon {display: block;position: relative;margin-top:10vmin;padding: 0 10px 0;}

/*客户之声*/
.zm_client {overflow: hidden;position: relative;}
.zmc_cont h5{line-height: 10vmin;font-size: 14px;color: #444;font-weight: 600;}
.zmc_cont p{font-size: 12px;color: #666;}

/*关于我们*/
.zm_about {overflow:hidden;position: relative;margin-bottom: 15px;}
.zm_about .ab_more{display: inline-block;float: right;color:#00afdb;}

/*合作伙伴*/
.zm_partn {overflow: hidden;position: relative;margin-bottom: 15px;}
.zm_partn .p_box{border: 1px solid #f4f4f4;}

/*回到顶部*/
.zm_home {overflow: hidden;position: relative;margin-bottom: 15px;background-color: #00afdb;}
.zm_home a{display: block;line-height: 42px;color: #fff;}
.zm_home span{background:url(../img/homeIcon.png)no-repeat;display: inline-block;width: 13px;height: 7px;margin-right: 5px;}

.zm_footer {overflow: hidden;position: relative;}
.zm_footer a{color: #293646;display: block;}
.zm_footer .foot_box{padding: 0 9px 0;margin: 10px 0;}
.zm_footer .copy{margin-top: 1vmin;}
.zm_footer .copy p{color:#293646;clear: left;display: block;}
.rig_l{border-right: 1px solid #293646;}

/*固定导航*/
.zm_navbar {overflow: hidden;}
#Nav {position:fixed;width: 12%;top: 73%;right: 0;display: block;}

/*固定导航复用*/
.am-share { font-size: 14px; border-radius: 0; bottom: 0; left: 0; position: fixed; text-align: center; -webkit-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%); -webkit-transition: -webkit-transform 300ms; transition: transform 300ms ; width: 100%; z-index: 1110; }
.am-modal-active { transform: translateY(0px);  -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0) }
.am-modal-out { z-index: 1109; -webkit-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%) }
.am-share-title { background-color: #f8f8f8; border-bottom: 1px solid #fff; border-top-left-radius: 2px; border-top-right-radius: 2px; color: #555; font-weight: 400; margin: 0 10px; padding: 10px 0 0; text-align: center; }
.am-share-title::after { border-bottom: 1px solid #dfdfdf; content: ""; display: block; height: 0; margin-top: 10px; width: 100%; }
.am-share-footer { margin: 10px; }
.am-share-footer .share_btn { color: #555;  display: block; width: 100%; background-color: #e6e6e6; border: 1px solid #e6e6e6; border-radius: 0; cursor: pointer;  font-size: 16px; font-weight: 400; line-height: 1.2; padding: 0.625em 0; text-align: center; transition: background-color 300ms ease-out 0s, border-color 300ms ease-out 0s; vertical-align: middle; white-space: nowrap;font-family:"微软雅黑";  }
.am-share-sns { background-color: #f8f8f8; border-radius: 0 0 2px 2px; margin: 0 10px; padding-top: 15px; height:auto; zoom:1; overflow:auto; }
.am-share-sns li { margin-bottom: 15px; display: block; float: left; height: auto;  width: 25%; }
.am-share-sns a { color: #555; display: block; text-decoration:none; }
.am-share-sns span { display: block; }
.am-share-sns li i { background-position: center 50%; background-repeat: no-repeat; background-size: 36px 36px; background-color: #ccc; color: #fff; display: inline-block; font-size: 18px; height: 36px; line-height: 36px; margin-bottom: 5px; width: 36px; }
/*.am-share-sns .share-icon-weibo { background-image: url(); }*/

.sharebg { background-color: rgba(0, 0, 0, 0.6); bottom: 0; height: 100%; left: 0; opacity: 0; position: fixed; right: 0; top: 0; width: 100%; z-index: 1100; display:none; }
.sharebg-active { opacity: 1; display:block; }


/*联系我们*/
.about {overflow:hidden;position: relative;padding-bottom: 10px;}
.about_cont {overflow:hidden;position: relative;}
.about_cont h5{color: #666;padding: 14px 0 10px 0;}
.about_cont p{}

/*服务分类*/
.zm_list {overflow: hidden;position: absolute;height: 100%;width: 100%;display: block;background-color:#f3f3f3;top: 0;bottom: 0;padding: 67px 0;}
.li_title{background-color: #f3f3f3;padding: 0;}
.li_title a{display: block;width: 100%;height: 100%;padding: 7.5vmin 0;}
.li_active {background-color: #fff!important;}
.list_cont {padding: 17vmin 0;background-color: #fff;position: fixed;top: 0;bottom: 0;right: 0;}

/*内容页*/
.infoBox {overflow: hidden;position: relative;border-bottom: 1px dashed #dedede;padding: 6vmin 0;width: 93%;margin: 0 8px;}
.infoBox img{display: block;width: 55%;margin-top:4vmin;}
.info01 {overflow: hidden;position: relative;}
.info01 h4{font-size: 13px;font-weight: 600;margin-bottom: 3px;color: #444;}
.info01 p{font-size: 12px;color: #888;line-height: 10vmin;}

/*注册*/
.zcCont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.zcCont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.zcCont3 {overflow: hidden;position: relative;margin-bottom: 15px;}
.zcCont4 {overflow: hidden;position: relative;margin-bottom: 15px;}
.zcCont5 {overflow: hidden;position: relative;margin-bottom: 15px;}
.zcCont5 h5{font-weight: 600;font-size: 16px;line-height: 40px;color: #555;}
.zcCont5 h5{color: #666;}
.zcCont5 img{width: 55%;}

/*财务*/
.cw_cont1 {overflow:hidden;position: relative;margin-bottom: 15px;}
.cw_cont1 img{width: 50%;}
.cw_cont1 h5{font-weight: 600;font-size: 16px;line-height: 20px;color: #555;margin-top: 15px;}
.cw_cont2 {overflow: hidden;position: relative;}
.cw_cont2 h5{font-size: 16px;color: #444444;margin-bottom: 10px;}
.cw_cont2 p{font-size: 11px;color: #666666;}
.cw_cont2 p.cw_red{font-size: 7vmin;color: #fe2323;}
.cw_cont2 p span{font-size: 11px;}
.cw_cont2 p s{font-size: 11px;color: #bcbcbc;}
.cw_cont2 .cw_next{margin-top: 24px;}
.cw_cont3 {overflow: hidden;position: relative;}
.cw_cont3 img{width: 70%;}
.cw_cont3 h5{color:#fb685e;font-weight: bold;line-height: 30px;margin-top: 5px;}

/*人事*/
.hr_cont1 {overflow:hidden;position: relative;margin-bottom: 15px;}
.hr_cont1 p{text-indent: 2em;}
.hr_cont2 {overflow:hidden;position: relative;margin-bottom: 15px;}
.hr_cont2 .BoxCont li{text-indent: 2em;color: #444;line-height: 1.8;}
.hr_cont3 {overflow:hidden;position: relative;margin-bottom: 15px;}
.hr_cont3 .BoxCont li{text-indent: 2em;color: #444;line-height: 1.8;}
.hr_cont4 {overflow: hidden;position: relative;}
.hr_cont4 h5{line-height:33px;font-weight: bold;}
.hr_cont4 img{width: 95%;}

/*特殊*/
.sp_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.sp_cont1 li{text-indent: 2em;line-height: 1.8;color: #666;}
.sp_cont2 {overflow:hidden;position:relative;margin-bottom: 15px;}
.sp_cont2 li{color: #444;line-height: 33px;}
.sp_cont3 {overflow: hidden;position: relative;}

/*复用盒子*/
.inBoxAll {overflow: hidden;position: relative;}
.inBoxAll .BoxCont{overflow: hidden;position: relative;}
.inBoxAll .BoxCont h5{padding:13px 0 5px;font-weight: 600;}

/*崇明页*/
.cm_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.cm_cont1 li{text-indent: 2em;color: #444;line-height: 1.8}
.cm_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.cm_cont2 .BoxCont h5{padding: 33px 0;font-size: 16px;font-weight: bold;color: #666;}
.cm_cont3 {overflow: hidden;position: relative;margin-bottom: 15px;}
.cm_cont3 li{text-indent: 2em;color: #444;line-height: 1.8}

/*奉贤页*/
.fx_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.fx_cont1 li{line-height: 1.8;font-size: 13px;}
.fx_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}

/*闵行页*/
.mh_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.mh_cont1 li{line-height: 1.8;}
.mh_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.mh_cont3 {overflow: hidden;position: relative;margin-bottom: 15px;}
.mh_cont3 li{line-height: 1.8;text-indent: 2em;}

/*金山页*/
.js_cont1 {overflow:hidden;position: relative;margin-bottom: 15px;}
.js_cont1 li{line-height: 1.8;}
.js_cont2 {overflow:hidden;position: relative;margin-bottom: 15px;}
.js_cont3 {overflow:hidden;position: relative;margin-bottom: 15px;}
.js_cont3 p{color: #444;font-weight: 600;}
.js_cont3 li{line-height: 1.8;text-indent: 2em;color: #666;}

/*浦东页*/
.pd_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.pd_cont1  li{line-height: 1.8;}
.pd_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.pd_cont3 {overflow: hidden;position: relative;margin-bottom: 15px;}

/*自贸区*/
.fta_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.fta_cont1 li{line-height: 1.8;text-indent: 2em;}
.fta_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.fta_cont3 {overflow: hidden;position: relative;margin-bottom: 15px;}

/*外商页*/
.fg_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.fg_cont1 li{line-height: 1.8;text-indent: 2em;}
.fg2_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.fg2_cont1 p{font-size: 14px;color: #444;}
.fg2_cont1 li{line-height: 1.8;text-indent: 2em;}
.fg2_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.fg3_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.fg3_cont1 li{line-height: 1.8;text-indent: 2em;}
.fg3_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}

/*港外企*/
.inhk_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.inhk_cont1 li{line-height: 1.8;}
.inhk_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.inhk_cont2 li{line-height: 1.8;text-indent: 2em;color: #666;}
.inhk_cont3 {overflow: hidden;position: relative;margin-bottom: 15px;}
.inhk_cont4 {overflow: hidden;position: relative;margin-bottom: 15px;}
.inhk_cont4 li{line-height: 1.8;text-indent: 2em;color: #666;}
.sgp_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.sgp_cont1 li{line-height: 1.8;text-indent: 2em;color: #666;}
.sgp_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.sgp_cont2 p {font-size: 13px;font-weight: 600;}
.sgp_cont2 li{line-height: 1.8;text-indent: 2em;color: #666;}
.sgp_cont3 {overflow: hidden;position: relative;margin-bottom: 15px;}
.sgp_cont3 li{line-height: 1.8;text-indent: 2em;color: #666;}
.yg_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.yg_cont1 li{line-height: 1.8;}
.yg_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.yg_cont3 {overflow:hidden;position: relative;margin-bottom: 15px;}
.yg_cont4 {overflow:hidden;position: relative;margin-bottom: 15px;}
.yg_cont4 p {font-size: 13px;font-weight: 600;}
.yg_cont4 li{line-height: 1.8;text-indent: 2em;color: #666;}
.yg_cont5 {overflow: hidden;position: relative;margin-bottom: 15px;}
.usa_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.usa_cont1 li{line-height: 1.8;text-indent: 2em;color: #666;}
.usa_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.usa_cont3 {overflow: hidden;position: relative;margin-bottom: 15px;}
.bvi_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.bvi_cont1 p {font-size: 13px;font-weight: 600;}
.bvi_cont1 li{line-height: 1.8;text-indent: 2em;color: #666;}
.bvi_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.bvi_cont2 li{line-height: 1.8;text-indent: 2em;color: #666;}
.bvi_cont3 {overflow: hidden;position: relative;margin-bottom: 15px;}
.bvi_cont3 p {font-size: 13px;font-weight: 600;}
.bvi_cont3 li{line-height: 1.8;text-indent: 2em;color: #666;}
.km_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.km_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.km_cont2 li{line-height: 1.8;text-indent: 2em;color: #666;}
.km_cont3 {overflow: hidden;position: relative;margin-bottom: 15px;}
.km_cont3 li{line-height: 1.8;text-indent: 2em;color: #666;}
.km_cont4 {overflow: hidden;position: relative; margin-bottom: 15px;}
.km_cont4 li{line-height: 1.8;text-indent: 2em;color: #666;}
.ms_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.ms_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.ms_cont1  p {font-size: 13px;font-weight: 600;}
.ms_cont1 li{line-height: 1.8;text-indent: 2em;color: #666;}

/*特殊行业*/
.spcal1_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal1_cont1 li{line-height: 1.8;text-indent: 2em;color: #666;}
.spcal1_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal1_cont3 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal1_cont3 li{line-height: 1.8;text-indent: 2em;color: #666;}
.spcal2_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal2_cont1 li{line-height: 1.8;color: #666;}
.spcal2_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal2_cont2 li{line-height: 1.8;color: #666;text-indent: 2em;}
.spcal3_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal3_cont1 li{line-height: 1.8;color: #666;}
.spcal3_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal3_cont3 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal3_cont3 p {font-size: 13px;font-weight: 600;}
.spcal3_cont3 li{line-height: 1.8;text-indent: 2em;color: #666;}
.spcal4_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal4_cont1 li{line-height: 1.8;text-indent: 2em;color: #666;}
.spcal4_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal4_cont3 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal4_cont3 li{line-height: 1.8;text-indent: 2em;color: #666;}
.spcal5_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal5_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal5_cont3 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal5_cont3 li{line-height: 1.8;text-indent: 2em;color: #666;}
.spcal5_cont3 p {font-size: 13px;font-weight: 600;}
.spcal6_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal6_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal7_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal7_cont1 li{line-height: 1.8;text-indent: 2em;color: #666;}
.spcal7_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal8_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal8_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal8_cont3 {overflow: hidden;position: relative;margin-bottom: 15px;}
.spcal8_cont3 p {font-size: 13px;font-weight: 600;}
.spcal8_cont3 li{line-height: 1.8;text-indent: 2em;color: #666;}

/*优惠政策*/
.way1_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.way1_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.way1_cont2 p {font-size: 13px;font-weight: 600;}
.way1_cont2 li{line-height: 1.8;text-indent: 2em;color: #666;}
.way1_cont3 {overflow: hidden;position: relative;margin-bottom: 15px;}
.way1_cont3 p {font-size: 13px;font-weight: 600;}
.way1_cont3 li{line-height: 1.8;text-indent: 2em;color: #666;}
.way2_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.way2_cont1 p {font-size: 13px;font-weight: 600;}
.way2_cont1 li{line-height: 1.8;text-indent: 2em;color: #666;}
.way2_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.way2_cont2 p {text-indent: 2em;}
.way3_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.way3_cont1 p {font-size: 13px;font-weight: 600;}
.way3_cont1 li{line-height: 1.8;text-indent: 2em;color: #666;}
.way3_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.way3_cont3 {overflow: hidden;position: relative;margin-bottom: 15px;}
.way3_cont3 p {font-size: 13px;font-weight: 600;}
.way3_cont3 li{line-height: 1.8;text-indent: 2em;color: #666;}
.way4_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.way4_cont1 p {font-size: 13px;font-weight: 600;}
.way4_cont1 li{line-height: 1.8;text-indent: 2em;color: #666;}
.way4_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.way4_cont2 p {font-size: 13px;font-weight: 600;}
.way4_cont2 li{line-height: 1.8;text-indent: 2em;color: #666;}
.way4_cont3 {overflow: hidden;position: relative;margin-bottom: 15px;}
.way4_cont3 p {font-size: 13px;font-weight: 600;}
.way4_cont3 li{line-height: 1.8;text-indent: 2em;color: #666;}
.way5_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.way5_cont1 li{line-height: 1.8;text-indent: 2em;color: #666;}
.way5_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.way5_cont3 {overflow: hidden;position: relative;margin-bottom: 15px;}
.way5_cont3 p {font-size: 13px;font-weight: 600;}
.way5_cont3 li{line-height: 1.8;text-indent: 2em;color: #666;}

/*增资服务*/
.servi1_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.servi1_cont1 p {text-indent: 2em;}
.servi1_cont1 li {color: #666;line-height: 1.8;}
.servi1_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.servi1_cont2 li{line-height: 1.8;text-indent: 2em;color: #666;}
.servi2_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.servi2_cont1 p {text-indent: 2em;}
.servi2_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.servi2_cont2 p {font-size: 13px;font-weight: 600;}
.servi2_cont2 li {line-height: 1.8;text-indent: 2em;color: #666;}
.servi3_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.servi3_cont1 p {text-indent: 2em;}
.servi3_cont2 {overflow: hidden;position: relative;margin-bottom: 15px;}
.servi3_cont2 p {font-size: 13px;font-weight: 600;}
.servi3_cont2 li {line-height: 1.8;text-indent: 2em;color: #666;}
.servi3_cont3 {overflow: hidden;position: relative;margin-bottom: 15px;}
.servi3_cont3 p {font-size: 13px;font-weight: 600;}
.servi3_cont3 li {line-height: 1.8;text-indent: 2em;color: #666;}
.servi4_cont1 {overflow: hidden;position: relative;margin-bottom: 15px;}
.servi4_cont1 p {text-indent: 2em;line-height: 1.8;}



/*@media screen and (max-width: 700px) { !*当屏幕尺寸小于700px时，应用下面的CSS样式*!

}*/
